<h2 class="request-heading">Make a weather forecast:</h2>

{{user-location model=model}}

<button class="request-button-current">Current Weather</button>
<button class="request-button-24hour">24 Hour Forecast</button>
<button class="request-button-48hour">48 Hour Forecast</button>
<button class="request-button-7day">7-Day Forecast</button>

<h2 class="forecast-heading">The basic forecast is:</h2>
<p class="forecast-temperature">Current temperature: {{temperature}}</p>
<p class="forecast-humidity">Current humidity: {{humidity}}</p>
<p class="forecast-sunrise">Today's sunrise time: {{sunriseTime}}</p>
<p class="forecast-sunset">The sunset time: {{sunsetTime}}</p>

{{outlet}}
